@model List<LuisMiguelBR.Unidad2.Practica6.Models.Pelicula>
@{
    ViewBag.Title = "Registro de Peliculas";
}

<h2>ViewBag.Title</h2>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Titulo
                    </th>
                    <th>
                        Director
                    </th>
                    <th>
                        ActorPrincipal
                    </th>
                    <th>
                        NumActores
                    </th>
                    <th>
                        Duracion
                    </th>
                    <th>
                        Estreno
                    </th>
                </tr>

                @foreach (var pelicula in Model)
                {
                    <tr>
                        <td>
                            @pelicula.Codigo
                        </td>
                        <td>
                            @pelicula.Titulo
                        </td>
                        <td>
                            @pelicula.Director
                        </td>
                        <td>
                            @pelicula.ActorPrincipal
                        </td>
                        <td>
                            @pelicula.No_Actores
                        </td>
                        <td>
                            @pelicula.Duracion
                        </td>
                        <td>
                            @pelicula.Estreno
                        </td>
                        <td>
                            <a class="btn btn-dufault" href="/Home/Borrar?cod=@pelicula.Codigo">Borrar</a>
                            <a class="btn btn-danger" href="/Home/Modificar?cod=@pelicula.Codigo">Modificar</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row" style="text-align:right; padding:5px">
        <a href="/Home/Grabar" class="btn btn-dufault">Agregar</a>
    </div>
</body>

